# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/
.env/

# Variables sensibles
.env

# Bases de datos
*.db
*.sqlite3

# Cache
data_cache/
.cache/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Otros
*.bak
*.tmp